/* Body Styling */
body {
    font-family: 'Roboto', monospace;
    margin: 0;
    padding: 0;
    background-color: #1a1a23; /* Dark blue-black background */
    color: #ffffff; /* White text */
}

/* Header Styling */
header {
    text-align: left; /* Align text to the left */
    padding: 5px; /* Reduced padding */
}

/* Navigation Links Styling */
nav a {
    margin: 2px 0;
    text-decoration: none;
    color: #2211b8 !important; 
    transition: color 0.3s, text-decoration 0.3s;
}

nav a:hover {
    text-decoration: underline;
    color:#2211b8 !important; /* Light teal color on hover */
}

nav a:visited {
    color: #2211b8 !important; /* Dark teal color for visited links */
}

/* Project Section Styling */
section {
    padding: 5px 0; /* Reduced padding */
    text-align: left; /* Align text to the left in sections */
}

.project {
    margin: 2px 0; /* Further reduced margin */
    padding: 5px; /* Reduced padding for a more compact design */
    border-radius: 2px;
    color: #ffffff; /* White text in sections */
}

.project h3 {
    text-decoration: underline; /* Underline the project titles */
    color: #00adb5; /* Teal color for project titles */
}

/* Footer Styling */
footer {
    padding: 5px 0; /* Reduced padding */
    color: #ffffff;
    text-align: left; /* Align text to the left in footer */
}

/* Footer Links Styling */
footer a {
    color: #00adb5 !important; /* Teal color for hyperlinks in footer */
    text-decoration: none;
    transition: color 0.3s, text-decoration 0.3s;
}

footer a:hover {
    text-decoration: underline;
    color: #8ac6d1 !important; /* Light teal color on hover */
}

footer a:visited {
    color: #007a7e !important; /* Dark teal color for visited links */
}
